body, 
html {    
    height: 100%;
    margin: 0; 
}
    
#map-canvas {    
    height: 100%;         
}

#list {
    position: fixed;
    width: 190px;
    height: 82%;
    right: 0px;
    top: 40px;       
    margin-right: -200px;
    overflow-y: auto;   
    box-shadow: -5px 8px  10px #777;
}

#list-button {
    position: fixed;    
    right: 0px;    
    top: 100px;    
}

#list-button img{
    height: 40px;
}

#search-filter {   
    width: 100%;
    height: 30px;
}

.box {  
    width: 100%;    
    margin-left: -30px;      
    color: #DC4A38;
    padding: 8px;
    border: 1px solid #DC4A38;
    background:  #fff;
}

.box:hover {
    background-color: #DC4A38;
    color: #fff;
}

.box p {
    font-style: italic;
    font-size: 13px;
}

#weatherBox {
    background: #DC4A38;
    height: 200px;
    width: 180px;
    margin-top: 3px;
    margin-left: -4px;
    font-size: 80%;
    color: #fff;
    position: relative;    
}


#wea {
    background-color: #fff;
    width:180px;
    height: 20px;
    position: fixed;
    top: 30px;
    left: 200px;
    -webkit-box-shadow: 0 10px 6px -6px #777;    
    text-align: left;
    color: #DC4A38;
    cursor: move;
}




#Insights {
    position: fixed;
    bottom: 20%;
    left: 10%;    
}

#GoogleInsights {
    position: fixed;
    bottom: 15%;
    left: 10%;
}

#result {
    position: fixed;
    bottom: 10%;
    left: 10%;
}

.text {
    font-family: "Lucida Sans Unicode";
    padding: 4px;  
}

ul {
    list-style-type: none;    
}

